@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  font-family: "Montserrat", sans-serif;
  color: #333;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.image-preview {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size:20px;
  cursor: pointer;
  /* Your other styles here */
}

/* Optional: add styles for when the image preview is hovered to give visual feedback */
.image-preview:hover {
  opacity: 0.9;
}

/* Styles for the entire upload section */
.upload-section {
  font-family: "Montserrat", sans-serif;
  background-color: white; /* Light grey background */
  padding: 2px;
  text-align: center; /* Center aligns elements */
  border-radius: 8px; /* Rounded corners */
  margin: -50px; /* Margin for top and bottom */
}

/* Styles for the form within the upload section */
.upload-form {
  display: inline-block;
  margin-top: 20px;
}

/* Styles for the upload label */
.upload-label {
  font-family: "Montserrat", sans-serif;
  display: block;
  background-color: #3498db; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px;
  border-radius: 4px; /* Rounded corners for the label/button */
  cursor: pointer; /* Cursor pointer when hovering over the label */
  margin-bottom: 10px; /* Space below the label */
}

/* Hides the file input but allows it to be triggered by label click */
.upload-input {
  display: none;
}

/* Styles for the button used to submit the form */
.predict-button {
  font-family: "Montserrat", sans-serif;
  background-color: #2ecc71; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px;
  border-radius: 4px; /* Rounded corners for the button */
  cursor: pointer; /* Cursor pointer when hovering over the button */
  font-size: 16px; /* Larger font size */
}

/* Adding a hover effect for buttons and labels */
.upload-label:hover,
.predict-button:hover {
  opacity: 0.9; /* Slightly see-through on hover */
}

/* If you have a specific container for the image, style it here */
.image-preview {
  font-size: 16px;
  max-width: 50%; /* or your preferred width */
  margin-top: -1.5px;
  /* margin: 20px auto; Center the image container */
  border: 1px solid #ccc; /* Add a light border */
  padding: 10px;
}

/* Style for the image itself to make it responsive */
.uploaded-image {
  max-width: 100%;
  height: 50%;
  display: block;
  margin: 0 auto; /* Center the image if smaller than container */
}

.header {
  background-image: url("/public/9281e8e8a1d0db79fd7d88f0e85daad4.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: -30px;
}

.upload-section,
.prediction-section,
.image-preview,
.doctors-list {
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2px;
  border: 1px solid white;
  padding: 2px;
  border-radius: 8px;
}

/* .prediction-text{
  text-align: left;
} */

.prediction-section{
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  margin-bottom: 10px;
  width: 200px;
}

.upload-input {
  margin-bottom: 20px;
}

.predict-button,
.find-doctors-button {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  width: 240px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.predict-button:hover,
.find-doctors-button:hover {
  background-color: #0056b3;
}


.address-input {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 22px); /* Account for padding and border */
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
}

.list-item:last-child {
  border-bottom: none;
}

/* You might also want to include media queries for responsiveness */
@media (max-width: 768px) {
  .upload-form {
    flex-direction: column;
  }
}
